@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Prompt:wght@100&display=swap');
:root{
  --icterine: #f7f052ff;
--cyan-process: #5bc0ebff;
--spanish-green: #28965aff;
--indigo-dye: #033f63ff;
--red-salsa: #f8333cff;
}


body{
display: grid;
grid: auto/repeat(12,1fr); 
}
.navbar{
    grid-row: 1/2;
    grid-column: 1/ span 12;
    background-color:var(--icterine);
    
}
.menuItems{

      display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
      text-decoration: none;
}
nav .menuItems {
  list-style: none;
}

nav .menuItems   li a{
  text-decoration: none;
  font-family:'Press Start 2P','cursive';
}

nav .menuItems   li a:hover{
color: var(--spanish-green);
}


.heroText{
  font-family: 'Prompt','sans-serif';
  grid-row: 3/4;
  grid-column: 1/span 12;
}


.heroBackground{
  background-image:url('./images/mypicture.jpg');
grid-row: 2/4;
grid-column:1/span 12;
text-align: center;

}
.heroButton{
padding: 8%;
grid-row:3/4;
grid-column:6/span 2;
box-shadow: 6px 6px 20px green;
background-image: linear-gradient(78deg,var(--indigo-dye), var(--cyan-process) ,var(--spanish-green));
}
.color{
  background-color: var(--indigo-dye);
}
.biography{
  grid-row:4/5;
  grid-column: 7/span 6;
  background-color:var(--cyan-process) ;
  font-family: 'Prompt','sans-serif';
 padding: 6%;
}
.workExperience{
  grid-row:5/6;
  grid-column: 1/span 6;
  background-color:var(--spanish-green) ;
  font-family: 'Prompt','sans-serif';
  padding: 6%;
  
}
.academicCredentials{
  grid-row:6/7;
  grid-column: 7/span 6;
  background-color:var(--red-salsa) ;
  font-family: 'Prompt','sans-serif';
  padding: 6%;
}
.professionalSummary{
  grid-row:7/8;
  grid-column: 1/span 6;
  background-color:var(--icterine) ;
  font-family: 'Prompt','sans-serif';
  padding: 6%;
}
a{
  color:var(--cyan-process) ;
  text-decoration: none;
}
button{
  background-color: var(--indigo-dye);
  text-decoration: none;
}